doctype html
html(lang='zh-tw')
  head
    title #{htmlWebpackPlugin.options.title}
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js")
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-68684372-5')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-68684372-5');

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")

  body
    h1 #{htmlWebpackPlugin.options.title}
    a(href="https://github.com/IvanWei/developer-conferences-in-taiwan")
      img(style="position: absolute;top: 0;right: 0;border: 0;z-index: 1;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

    span#current-date
    .btn-change-view.btn.btn-default(data-change-view="day")
      span.text(style="margin-left: 5px;") Day
    .btn-change-view.btn.btn-default(data-change-view="week")
      span.text(style="margin-left: 5px;") Week
    .btn-change-view.btn.btn-default(data-change-view="month")
      span.text(style="margin-left: 5px;") Month
    #previous-view.btn.btn-default
      i.fas.fa-angle-left
      span.text(style="margin-left: 5px;") Previous month
    .btn-change-view.btn.btn-default(data-change-view="today")
      span.text(style="margin-left: 5px;") Today
    #next-view.btn.btn-default
      span.text(style="margin-right: 5px;") Next month
      i.fas.fa-angle-right
    #calendar

    footer
      - const NOW_YEAR = new Date().getFullYear();
      | Copyright&copy;#{NOW_YEAR}
      a(href="https://blog.ivanwei.co" style="margin-left: 10px;") Ivan Wei

    script.
      const today = new Date();
      const formatDate = today.getFullYear() + '-' + (today.getMonth() +1);

      document.getElementById('current-date').textContent = formatDate;
