#calendar {
  width: 100%;
  height: 80vh;
  border-left: 1px solid #E5E5E5 !important;
  border-right: 1px solid #E5E5E5 !important;
  border-bottom: 1px solid #E5E5E5 !important;
}

.btn {margin: 5px;}
.text {font-size: 12px;}
